@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--navbar-z-index: 10000;
}

body {
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer components {
	body {
		@apply
		text-gray-900
	}
	.container {
		@apply
		mx-auto
		px-[1.5625rem]
	}
	/* Headings */
	h5, .h5 {
		@apply
		text-gray-700
		text-lg
		font-bold
	}
	/* Buttons */
	.btn {
		@apply
		inline-flex
		justify-center
		items-center
		text-white
		text-sm
		leading-5
		text-center
		rounded-[5px]
		cursor-pointer
		overflow-hidden
	}
	.btn.btn-1 {
		@apply
		relative
		leading-5
		rounded-[5px]
		py-[0.875rem]
		px-[1.5625rem]
		before:absolute
		before:inset-0
		before:bg-[linear-gradient(225deg,_#6675F7_0%,_#57007B_100%)]
		before:z-[-1]
		before:transition
		before:duration-150
		after:absolute
		after:inset-0
		after:bg-[linear-gradient(225deg,_#57007B_0%,_#6675F7_100%)]
		after:opacity-0
		after:z-[-1]
		after:transition
		after:duration-150
		lg:hover:before:opacity-100
		lg:hover:after:opacity-100
		lg:focus-visible:before:opacity-100
		lg:focus-visible:after:opacity-100
	}
	/* WYSIWYG */
	.wysiwyg > p {
		@apply
		text-lg
	}
	.wysiwyg > p + p {
		@apply
		mt-5
	}
}